# Automatically add new line to end of all files on save.
[*]
insert_final_newline = true
trim_trailing_whitespace = true

# 2 space indentation
[*.{cpp,hpp}]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 8
